.cor-vermelha {
  color: #e72d2e;
}
.sublinhado {
  text-decoration: underline;
}
.sublinhado-decorado {
  text-decoration: "#e72d2e";
}
.link {
  text-decoration: none;
  color: #e72d2e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
.botao {
  border: 0px;
  border-radius: 50px;
  background-color: #e72d2e;
  width: 100px;
  height: 50px;
  color: black;
  text-decoration: none;
}

.botaoVisu {
  border-radius: 20px;
  width: 200;
  height: 200;
  color: #e72d2e;
  text-decoration: none;
  font-size: larger;
}
#gif{
justify-content: center;
align-items: center;
padding-top: 180px;
}
